.filmmakers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .filmmakers {
        display: block;
        height: auto;
        width: 100%;
    }
}