@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Serif', sans-serif;

  --gradient-text: #F49867FF;
  --gradient-bar: #F49867FF;
  
  --color-bg: black;
  --color-footer : #031B34;
  --color-blog: #black;
  --color-text: white;
  --color-subtext: #FF8A71;
}